<!-- https://codersblock.com/blog/highlight-text-inside-a-textarea/ -->
<div class="typeHolder">
  <div class="display">
    <!-- image -->
    <!-- ? -->
  </div>
  <div class="textHolder">
    <div class="container">
      <div class="backdrop">
        <div class="highlights">
          <mark #highlightText>{{correctHighlight}}</mark>
          <mark class="incorrect" #incorrectText>{{incorrectHighlight}}</mark>
        </div>
      </div>
      <textarea disabled #text></textarea>
    </div>
    <div class="inputHolder">
      <input [formControl]='inputControl' #userInput />
      <label id="minutes">{{minutes}}</label>:<label id="seconds">{{seconds}}</label>
      <label id="wpm">{{wpm}}</label>
    </div>
  </div>
</div>