<div class="loginHolder" *ngIf="!hidden">
  <div class="backdrop" (click)="hide($event)">
    <div class="modalContent">
      <div class="left">
        <div class="content">
          <h2>Login</h2>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="loginContent">
              <input formControlName="username" placeholder="username" type="text" name="username" id="username">
              <input formControlName="password" placeholder="password" type="password" name="password" id="password">
              <button type="submit" class="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <h2>Sign Up</h2>
          <form [formGroup]="registerForm" (ngSubmit)="signup()">
            <div class="signupContent">
              <input formControlName="username" placeholder="username" type="text" name="username" id="username">
              <input formControlName="email" placeholder="email" type="email" name="email" id="email">
              <input formControlName="password" placeholder="password" type="password" name="password" id="password">
              <input formControlName="confirmPassword" placeholder="confirm password" type="password"
                name="confirmPassword" id="confirmPassword">
              <button type="submit" class="submit">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>