.profileHolder {
  margin: auto;
  width: 60%;
  padding-bottom: 60px;
}

.statsHolder {
  border: 2px solid #000000;
  border-radius: 11px;
  height: fit-content;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

.noBackground {
  background-color: #fff;
}